<div id="well" class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Social Profiles</li>
    <li><a href="https://plus.google.com/112827964403857100591/">Google+</a></li>
    <li><a href="http://www.linkedin.com/profile/view?id=98225064">LinkedIn</a></li>
    <li><a href="https://bitbucket.org/00firestar00">BitBucket</a></li>
    <li><a href="https://github.com/00firestar00">Git Hub</a></li>
    <li><a href="https://coderwall.com/00firestar00">Coder Wall</a></li>
    <li class="nav-header">Latest Bitbucket Activity</li>    
      <div id="bitbucket_rss"> 
        
      </div>
  </ul>
</div><!--/.well -->
