h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
}

#navbar a{
    color: rgba(255, 255, 255, .8);
}

#navbar a:hover{
    color: #99CC00;
}

#navbar a:visited {
    color: #33B5E5;
}

#navbar a:visited:hover {
    background-color:transparent;
    color: #99CC00;
}

#navbar {
    background-color: #333333;
    border-bottom: 5px solid #0099cc;
}

#well {
   background-color: #333333;
   border-color: #0099cc;
   color: rgba(255, 255, 255, .8);
}

#well a {
    color:#0099CC;
}

#well a:hover{
    color: #99CC00;
    background-color:transparent;
}

#well a:visited {
    color: #33B5E5;
}

#well a:visited:hover {
    background-color:transparent;
    color: #99CC00;
}

.nav-left > li {
    float: left;
}

.sns-icon img {
    opacity: 0.8;
}

.sns-icon img:hover {
    opacity: 0.3;
}

